<!DOCTYPE html>
<html>
<head>
  <title>RescoreWebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'All Movies', movies_path %> - <%= link_to 'Metadata Search', metadata_search_path %><br/>
<%= yield %>

</body>
</html>
