<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>rescore</title>
    <link rel="stylesheet" type="text/css" href="http://yegor256.github.io/tacit/tacit.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "Chart.min.js" %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= csrf_meta_tags %>
    <%= render "google_analytics" %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div><span><%= flash[:notice] %></span></div>
    <% end %>
    <% if flash[:alert] %>
      <div><span><%= flash[:alert] %></span></div>
    <% end %>
    <div>
      <%= render 'navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
