<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>rescore</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "Chart.min.js" %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'navbar' %>
    <div class="container">
      <% if flash[:notice] %>
        <div class="rescore-flash"><span class="success round radius label"><%= flash[:notice] %></span></div>
      <% end %>
      
      <% if flash[:alert] %>
        <div class="rescore-flash"><span class="alert round radius label"><%= flash[:alert] %></span></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
