<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>rescore</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "Chart.min.js" %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= csrf_meta_tags %>
    <%= render "google_analytics" %>
  </head>

  <body>
    <p style="background-color: Orange; text-align: center;">work in progress (clearly)</p>
    <%= render 'navbar' %>
    <div class="container">
      <% if flash[:notice] %>
        <div class="rescore-flash"><span class="success round radius label"><%= flash[:notice] %></span></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="rescore-flash"><span class="alert round radius label"><%= flash[:alert] %></span></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
